REACT_APP_RESTAURANT_GROUP_ID=54
REACT_APP_RESTAURANT_GROUP_NAME="Goddy's Cafe.in"
REACT_APP_CUISINE_TYPE="Conversations, Coffee, Soul-inspired Food"
REACT_APP_CHECKOUT_CONFIG="NON_PAYABLE"
REACT_APP_PICKYTO_CLIENT_ID=011
REACT_APP_API_DATA_KEY=f2062aaf1afc9eb71997cd94202828115f05be2e5d654ef1266171fb
REACT_APP_BUGSNAG_ID=cd0013a64da6c9cdbd408c8603ed00db
REACT_APP_FACEBOOK_APP_ID=328521431043372
REACT_APP_FB_LOGIN_SCHEME=fb328521431043372
REACT_APP_FRESHCHAT_TOKEN=921f010a-e70b-4beb-82dd-e95349146cbc
REACT_APP_GOOGLE_ANALYTICS_ID=UA-122023604-4
REACT_APP_GOOGLE_API_KEY=AIzaSyCSpnW8xubvWhoyToqb1536v93BirFDizU
REACT_APP_GOOGLE_CLIENT_ID=750452314803-kp2bklujhqem5c0jh3eea93c4rq3h2ip.apps.googleusercontent.com
REACT_APP_LASSI_API_BASE_URL=https://iw94q9sxmc.execute-api.ap-south-1.amazonaws.com/Prod/lassi-api/index.php/?r=
REACT_APP_NAME=PICKYTO
REACT_APP_PAYTM_BASE_URL=https://payments.lassi-api.com
REACT_APP_PAYTM_CHANNEL_MOBILE_ID=WAP
REACT_APP_PAYTM_CHANNEL_WEB_ID=WEB
REACT_APP_PAYTM_INDUSTRY_TYPE_ID=Retail109
REACT_APP_PAYTM_MID=Sigara50849978163548
REACT_APP_PAYTM_WEBSITE=SIGARA
REACT_APP_RAZORPAY_API_KEY=rzp_live_px0Q2662GB22m6
SASS_PATH=src/utils/Pickyto
####################################################33
REACT_APP_BANNER_IMG_URL="http://www.goddys.in/img/cafe.jpg"
REACT_APP_LOGO_IMG_URL="http://www.goddys.in/img/logo.png"
REACT_APP_THEME_COLOR=#8b290e