.CalendarDay__selected_span {
  background: rgba(246, 75, 93, 0.2);
  color: #242424;
  border: 1px solid transparent;
}

.CalendarDay__selected {
  background: #f64b5d;
  color: white;
  outline: none;
}

.CalendarDay__selected:hover {
  background: #f62626;
  color: white;
}

.CalendarDay__selected,
.CalendarDay__selected:active,
.CalendarDay__selected:hover {
  background: #f62626;
  border: 1px solid red;
  outline: none;
  border: none;
}

.CalendarDay__selected_start_4,
.CalendarDay__selected_start_3,
.CalendarDay__selected_start_6,
.CalendarDay__selected_start_2,
.CalendarDay__selected_start_7,
.CalendarDay__selected_start_1,
.CalendarDay__selected_start_5 {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  outline: none;
  border: none;
}

.CalendarDay__selected_end_4,
.CalendarDay__selected_end_3,
.CalendarDay__selected_end_6,
.CalendarDay__selected_end_2,
.CalendarDay__selected_end_7,
.CalendarDay__selected_end_1,
.CalendarDay__selected_end_5 {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  outline: none;
  border: none;
}

.CalendarDay__hovered_span:hover,
.CalendarDay__hovered_span {
  background: rgba(246, 75, 93, 0.2);
}

.DateRangePickerInput {
  border-radius: 8px;
}

.DateInput {
  width: 90px;
  left: 5px;
}

.DateRangePickerInput {
  border-radius: 8px;
  border: 1px solid lightgray;
}

.DateInput_input {
  padding: 0.3em 0.1em;
  font-size: 1em;
  line-height: 26px;
  color: #242424bf;
  font-weight: 600;
  text-align: center;
}

.DateRangePickerInput_calendarIcon {
  border: 0;
  background-color: #242424bf;
  color: inherit;
  font: inherit;
  line-height: normal;
  overflow: visible;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  padding: 10px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  margin: 0px;
  margin-left: 10px;
}

.DateRangePickerInput_calendarIcon_1 {
  border: 1px solid lightgray;
  background-color: #f2f2f2;
}

.CalendarDay__selected_span:active,
.CalendarDay__selected_span:hover {
  background: rgba(246, 75, 93, 0.5);
  color: #242424;
  border: 1px solid transparent;
}

.DayPickerNavigation_button {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 0;
  padding: 0;
  margin-top: 1.7em;
}

.DateInput_input__focused {
  outline: 0;
  background: #fff;
  border: 0px;
}

.CalendarDay__blocked_out_of_range,
.CalendarDay__blocked_out_of_range:active,
.CalendarDay__blocked_out_of_range:hover {
  background: #fff;
  border: none;
  color: #cacccd;
}

.CalendarDay__default:hover {
  border: 1px solid #e4e7e7;
}

.CalendarDay__default:hover {
  border: 0px solid #e4e7e7;
}

.CalendarDay__default:hover {
  border: 0px solid #e4e7e7;
}

.CalendarDay__default {
  border: 0px solid #e4e7e7;
}

.DateRangePicker_picker {
  left: -223px !important;
}

.mobileOrderDownloadSelect {
  width: 8.375rem;
}

/* the radio buttons */
.radioItem {
  display: inline-block;
  position: relative;
  margin-bottom: 29px;
}

.radioItem label {
  cursor: pointer;
}

.radioItem input[type='radio'] {
  display: none;
}

.radioItem label:before {
  content: ' ';
  display: inline-block;
  position: relative;
  top: 5px;
  margin: 0 20px 0 0;
  width: 20px;
  height: 20px;
  border-radius: 11px;
  border: 2px solid #2424243f;
  background-color: transparent;
}

.radioItem label span {
  margin-left: 40px;
  display: flex;
}

.radioItem input[type='radio']:checked + label:after {
  border-radius: 11px;
  width: 12px;
  height: 12px;
  position: absolute;
  top: 9px;
  left: 4px;
  content: ' ';
  display: block;
  background: #f64b5d;
}

.radioItem input[type='radio']:checked + label:before {
  border: 2px solid #f64b5d;
}

.ant-picker-time-panel-column > li.ant-picker-time-panel-cell-selected .ant-picker-time-panel-cell-inner {
  background: #f64b5d;
}

@media screen and (max-width: 991px) {
  .DateRangePickerInput {
    padding-left: 5px;
  }

  .DateInput {
    width: 60px;
    left: 0px;
  }

  .DateRangePickerInput_calendarIcon_1 {
    margin-left: 0;
  }

  .DateRangePicker_picker {
    left: 0px !important;
  }

  .DayPickerNavigation {
    top: 25px;
  }

  .DayPickerNavigation_button {
    margin-top: 0;
  }

  .DayPicker_weekHeader {
    display: none;
  }

  .CalendarMonth_caption {
    padding-top: 0;
  }

  .pastOrderDropdown {
    width: 45%;
  }
}
