.text-primary-pl {
  color: var(--black-main);
}

.text-heavy {
  color: var(--black-main);
  opacity: 0.7;
}

.text-muted-med {
  color: var(--black-main);
  opacity: 0.65;
}

.text-muted-light {
  color: var(--black-main);
  opacity: 0.5;
  font-weight: medium;
}

.sticky {
  z-index: 2;
  box-shadow: 0px 2px 4px #0000001a;
  padding-left: 0.5em;
  padding-right: 1.5em;
}

.spacer {
  min-height: 20vh;
}

.sub-heading {
  color: var(--black-main);
  opacity: 0.85;
  font-weight: medium;
  letter-spacing: 0.96px;
}

.item-label {
  color: var(--black-main);
  opacity: 0.75;
  font-weight: 600;
}

/* dropdown style */
.item-label-dropdown {
  opacity: 0.75;
  font-weight: 600;
}

/* mobile modal buttons */
.mobileReportsModalbtns {
  width: 100%;
  padding: 0.5rem;
  background-color: white;
  position: fixed;
  bottom: 0;
}

.mobileModalContent {
  width: 100%;
  padding: 0.5rem;
  background-color: white;
  position: fixed;
  bottom: 0;
}

.item-label-title {
  color: var(--black-main);
  opacity: 0.7;
  font-weight: 900;
}

.item-sublabel {
  color: var(--black-main);
  opacity: 0.65;
  font-weight: 500;
}

.tbl-rounded {
  border-radius: 8px;
}

.tbl-rounded-top {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.tbl-rounded-bottom {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.edit-btn {
  color: var(--red-main);
  opacity: 0.9;
  text-align: center;
  border-radius: 4px;
}

.custom-modal {
  border-radius: 16px !important;
}

.ant-btn-primary {
  color: white;
  background-color: var(--red-main);
  text-align: center;
  border-radius: 6px;
  font-weight: 600;
  outline: none;
}

.ant-btn-primary:hover {
  outline: none;
  border-radius: 6px;
  background-color: var(--red-main);
  color: white !important;
}

.ant-btn {
  outline: none;
  border-radius: 6px;
}

.ant-btn:hover {
  outline: none;
  border-radius: 6px;
  border: 1px solid var(--red-main);
  color: var(--red-main);
}

.ant-modal-header {
  border-radius: 8px;
}

.ant-modal-content {
  border-radius: 8px;
  padding: 2%;
}

.ant-modal-title {
  font-weight: 600;
  color: var(--black-main);
}

.ant-modal-footer {
  display: flex;
  align-items: right;
  justify-content: flex-end;
}

.wrap-item {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.invisible {
  display: none;
}

.visible {
  display: inherit;
}

.disabled__feature .upgrade__btn {
  display: none;
}

.disabled__feature:hover .upgrade__btn {
  display: flex;
  height: 35px;
  width: 100px;
  background-color: rgba(246, 76, 93);
  font-weight: 500;
  font-size: 15px;
  border-radius: 5px;
  color: #fff;
  outline: none;
  justify-content: center;
  align-items: center;
  padding: 5px 0;
  cursor: pointer;
  margin: 0 5px;
  box-sizing: border-box;
}
.ant-notification-notice-error .ant-notification-notice-message{
  color:"red" !important;
}
